/*Zara Ahmed Module 6 Webspace Assignment 6/26/26*/
body{
    background-color:#1e3b05;
    color:aliceblue;
    font-family: Georgia,'Times New Roman', Times, serif;
}
h1{
    color:rgb(183, 226, 188);
}
h2{
    color:rgb(229, 227, 193);
}
p{
    color:white;
}
a{
    color:lightpink;
}